.titulo-destaques {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 5rem;
  align-self: center;
  justify-self: center;
}
.filtros-categorias {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 2rem;
  margin-bottom: 3rem;
}



.filtro-btn {
  position: relative;
  color: #888; /* cinza como padrão */
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}
.filtro-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
}
.filtro-btn:hover {
  color: black;
}
.filtro-btn:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.filtro-btn.ativo {
  color: black;
}
.filtro-btn.ativo::after {
  transform: translateX(-50%) scaleX(1);
}



.home-banner {
  padding: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 8px;
  background-image: url('/home/banner-swampp.png');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */

  /* IDEIA BOA PRA CÁ:
  colocar uma imagem com vários biomas, a logo da swampp e um slogan como:
  'swamp, com você em qualquer lugar' ou algo assim */
}


.text-home-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between; /* Um para a esquerda, outro para a direita */
  align-items: center;
  padding: 0 4rem; /* Espaço nas laterais */
}

.text-home-container h2 {
  font-size: 2rem; /* Fonte igual para os dois */
  font-weight: normal;
  max-width: 40%; /* Limita largura para não invadir o meio */
}
.text-home-container p {

  max-width: 40%; /* Limita largura para não invadir o meio */
}


.home-grid {
  padding: 4rem;
  background: #ffffff;
}

.inteira {
  display: flex;
  flex-direction: column; /* Organiza metade-cima e metade-baixo uma em cima da outra */
  width: 100%;
  gap: 1rem;
}

.metade-cima {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem; /* Agora, o gap vai funcionar entre as divs dentro de metade */
  height: 23rem;
}

.metade-baixo {
  position: relative;
  display: flex;
  flex-direction: column; /* Para empilhar tags e botão verticalmente */
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  height: 18rem;
  border-radius: 8px;
  background-color: rgb(50, 82, 35);
  background-image: url('/home/image 24.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px; /* Para espaçamento interno */
}

.varias-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.grid-tag {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 10;
  padding: 0 1rem;
  border-radius: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



.metade1, .metade2, .metade3 {
  display: flex;
  /* border: 1px solid #000; Para visualizar as divs */
  width: 100%; /* Ajusta a largura para que as divs fiquem na horizontal com o gap */
}

.metade2, .metade3 {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Garante o espaçamento interno entre as divs dentro de metade2 e metade3 */
}

.metadinha1{
  flex: 1;
  border-radius: 8px;
  background-color: rgb(52, 68, 68);
  background-image: url('/home/modelos.jpeg');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.metadinha2-cima {
  flex: 1;
  border-radius: 8px;
  background-color: rgb(103, 112, 112);
  background-image: url('/home/barraca-vermelha.jpeg');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}
.metadinha2-baixo {
  flex: 1;
  border-radius: 8px;
  background-color: rgb(103, 112, 112);
  background-image: url('/home/equipamentos.jpeg');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.metadinha3-cima, .metadinha3-meio, .metadinha3-baixo {
  flex: 1;
  border-radius: 8px;
  background-color: rgb(223, 223, 223);
}


.grid-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Ícone branco */
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px; /* Botão circular */
  width: 30px; /* Largura do botão */
  height: 30px; /* Altura do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  text-decoration: none; /* Remove sublinhado */
}
.grid-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.65); /* Fundo preto */
  color: #ffffff; /* Ícone branco */
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 10;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 80px; /* Botão circular */
  height: 30px; /* Altura do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove sublinhado */
}
.varias-tags {
  display: flex;
  flex-wrap: wrap;         /* Permite que as tags quebrem para a linha de baixo */
  gap: 12px;                /* Espaço entre as tags */
  align-items: center;     /* Alinha verticalmente se necessário */
  top: 10px !important;
  left: 10px !important;
}

.varias-tags .grid-tag {
  position:relative ;
  background-color: #ff0000; /* laranja brasa */
  color: #ffffff; /* Ícone branco */
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 10;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 80px; /* Botão circular */
  height: 30px; /* Altura do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove sublinhado */
}

.grid-btn2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Cor do texto e ícone branco */
  font-size: 0.9rem; /* Tamanho do texto */
  padding: 10px 20px; /* Largura maior para acomodar o texto */
  display: inline-flex;
  align-items: center;
  justify-content: space-between; /* Espalha o texto e o ícone */
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  text-decoration: none; /* Remove o sublinhado */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Suaviza as transições */
}

.grid-btn2 i {
  margin-left: 15px;
}




.metadinha1, .metadinha2-cima, .metadinha2-baixo, .metadinha3-cima, .metadinha3-meio, .metadinha3-baixo {
  position: relative; /* Necessário para posicionar os botões */
  background-color: rgba(58, 100, 42, 0.3);
}



.produto-imagem-container {
  position: relative;
  width: 100%;
}

.produto-img {
  width: 100%;
  height: auto;
  display: block;
}

.product-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0, 0.5) !important;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 50% !important;
  transition: background-color 0.3s, opacity 0.3s; /* Adiciona transição para opacity */
  opacity: 0; /* Setas inicialmente invisíveis -----------------------------------------------------------*/
}

.product-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Exibe as setas quando o mouse está sobre o contêiner */
.produto-imagem-container:hover .product-arrow {
  opacity: 1; /* Setas ficam visíveis */
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}