.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.navbar.blur {
  background-color: rgba(0, 0, 0);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
/* Para a opacidade total em outras páginas */
.navbar.opacity-full {
  background-color: rgba(0, 0, 0, 1); /* Opacidade total */
  transition: background-color 0.3s ease-in-out;
}




.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
}


.nav-left {
  display: flex;
  gap: 3rem;
  margin-left: 2rem;
}

.nav-right {
  display: flex;
  gap: 1.3rem;
  margin-right: 2rem;
}

.nav-left a,
.nav-right a{
  align-items: center; /* opcional, alinha verticalmente */
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.2s ease;
}

.nav-left a,
.nav-right a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.9rem;
}

.nav-left a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-left a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

.nav-left a:hover {
  color: white;
}

.nav-left a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.nav-right a svg {
  stroke: #ffffff;
  transition: stroke 0.3s ease, fill 0.3s ease;
  fill: transparent; /* começa sem preenchimento */
}

.nav-right a:hover svg {
  stroke: white;
  fill: white; /* preenchimento suave, pode ajustar a opacidade */
}


.nav-center {
  font-family: 'Sonsie One';
  font-size: 1.9rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-center a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Herda a cor do elemento pai */
  transition: color 0.3s ease; /* Adiciona transição suave */
}

.nav-center a:hover {
  color: #f0f0f0; /* Cor ao passar o mouse */
}

.nav-right svg {
  width: 20px;
  height: 20px;
}